.footer{
    background: var(--container-color);
    margin-top: 5rem;
}

.footer-features-title{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-features-title img{
    height: 45px;
}

.footer-features-discription{
    font-size: 12px;
    color: #b6b6b6;
    padding-top: 1rem;
}

.footer-top-wrapper{
    border-bottom: 2px solid var(--body-color);
    width: 100%;
}

.footer-top {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 3.5rem;
    grid-row-gap: 0px;
    padding: 4rem 15rem;
}

.footer-middle-left{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 2rem 0rem 2rem 15rem;
    border-right: 2px solid var(--body-color);
}

.footer-middle-left div p{
    font-size: 14px;
    font-weight: 500;
}

.footer-middle-left div span{
    font-size: 12px;
    font-weight: 400;
}

.footer-newsletter-btn{
    background: var(--green-color);
    margin-left: 1rem;
}

.footer-email-input{
    border: 0;
    outline: 0;
    border-radius: 50vw;
    background: #F2F1EC;
    padding: 10px 25px;
    width: 300px;
}

.footer-email-input::placeholder{
    font-weight: 200;
    font-size: 12px;
}

.footer-middle-right{
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    align-items: center;
    padding: 2rem 15rem 2rem 0rem;
}

.footer-middle{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.footer-middle-right div p{
    font-size: 14px;
    font-weight: 500;
}

.footer-middle-right div span{
    font-size: 12px;
    font-weight: 400;
}

.app-imgs img{
    height: 40px;
    border-radius: 5px;
}

.app-imgs{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.footer-bottom{
    border-top: 2px solid var(--body-color);
}

.footer-bottom-wrapper{
    padding: 2rem 15rem;
}

.footer-logo{
    width: 150px;
}

.footer-bottom-main{
    flex-direction: column;
}

.footer-links a + a{
    margin-left: 1rem;
}

.footer-bottom-main,.footer-links{
    display: flex;
    align-items: center;
}

.copyright-text{
    text-align: center;
}

.scroll-top{
    background-color: var(--orange-color);
    width: 35px;
    height: 35px;
    border-radius: 20px;
    position: absolute;
    top: -17.5px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-top,.scroll-top a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-wrapper{
    position: relative;
}

.scroll-top-icon{
    rotate: 270deg;
    width: 25px;
}