.MainPage {
    height: 100vh;
    display: flex;
    animation: fadeIn 1.5s;
    background-color: #F3F3EE;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-8 {
    margin-left: 2rem;
}

.ml-12 {
    margin-left: 3rem;
}

.code-block {
    background-color: #25282b;
    border-radius: 4px;
    padding: 1rem;
    overflow-x: auto;
}

.code-block pre {
    margin: 0;
}

.inline-code {
    background-color: #383b3d;
    padding: 2px 4px;
    border-radius: 4px;
}