.contact-container {

}

.contact-section, .faq-section {
    display: flex;
    align-items: center;
    border: 1px solid hsl(var(--border-color));
}

.contact-left, .faq-left {
    border-right: 1px solid hsl(var(--border-color));
    max-width: 520px;
    margin: 0px 0px 0px var(--m162);
    padding-right: var(--m80);
}

.contact-right, .faq-right {
    padding: var(--m80);
    padding-right: var(--m162);
    border-left: 1px solid hsl(var(--border-color));
    flex: 1;
}

.contact-left img, .faq-left img {
    width: 80px;
    margin-bottom: 20px;
}

.contact-title, .faq-title {
    font-family: var(--kbsans);
    color: hsl(var(--font-color-light));
    font-size: var(--h1);
    margin-bottom: 10px;
}

.faq-subtitle {
    color: hsl(var(--font-color-medium));
    font-size: var(--p);
}

.contact-container .contact-form input,
.contact-container .contact-form select,
.contact-container .contact-form textarea{
    padding: 20px;
    font-size: var(--p);
    border: 1px solid hsl(var(--border-color));
    background-color: hsl(var(--secondary-color));
    border-radius: 8px;
    color: hsl(var(--font-color-light));
    outline: none;
    flex: 4;
}

.contact-container .contact-form select{
    width: 80px;
    flex: 1;
}

.contact-container .contact-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form-group {
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-column-gap: 50px;
grid-row-gap: 0px;
flex-direction: column;
}

.form-group:nth-of-type(3){
    display: flex;
    height: 162px;
    box-sizing: border-box;
}

.phone-input {
    display: flex;
    gap: 16px;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--p);
    color: hsl(var(--font-color-light));
    align-items: center;
}

.form-footer label{
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group label{
    color: hsl(var(--font-color-light));
    margin-bottom: 12px;
    font-size: var(--p);
}

.send-btn {
    padding: 18px 46px;
    color: hsl(var(--primary-color));
    background-color: hsl(var(--accent-color));
    border-radius: 6px;
    font-weight: 500;
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 24px;
}

@media (max-width: 1640px) {
    .contact-left img, .faq-left img {
        width: 60px;
    }

    .contact-container .contact-form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .contact-container .contact-form input,
.contact-container .contact-form select,
.contact-container .contact-form textarea{
    padding: 16px;
}

.send-btn {
    padding: 14px 34px;
}
}

.accordion-item {
  border: 1px solid hsl(var(--border-color));
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  color: hsl(var(--font-color-light));
  font-size: var(--p);
  background-color: hsl(var(--secondary-color));
}

.accordion-header.active {
  border-bottom: 1px solid hsl(var(--border-color));
}

.accordion-icon {
  font-size: 20px;
  color: hsl(var(--accent-color));
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: hsl(var(--secondary-color));
  color: hsl(var(--font-color-medium));
  font-size: var(--p);
}

.accordion-content.active {
  max-height: 200px;
  padding: 20px;   
}

@media  (max-width: 930px) {
    .faq-section,.contact-section, .form-group, .form-footer{
        display: flex;
        flex-direction: column;
        border: 0;
    }

    .faq-left,.contact-left{
        border: none;
    }

    .contact-left,.faq-left{
        margin: 40px 16px;
    }

    .form-group, .form-footer{
        gap: 20px;
    }

    .form-group:nth-of-type(3){
        gap: 0;
    }

    .contact-right,.faq-right{
        padding: 40px 36px;
        width: 100%;
        border: none;
        border-top: 1px solid hsl(var(--border-color));
    }
    .send-btn {
        width: 100%;
    }
}