:root{
  --text-color-100: 59.99, 2.639%, 38.25%;
  --text-color-200: 190.5, 50.92%, 15.33%;
  --text-color-300: 187.2 62.06% 34.13%;

  --background-color-100: 60, 33.3%, 98.2%;
  --background-color-200: 60, 17%, 94%;
  --background-color-300: 60, 9.8%, 90%;

  --border-color-100: 60, 11%, 83%;

  --persimmon-100: 13.89 56% 45%;
}

body.night {
  --text-color-100: 180 1.903% 56.01%;
  --text-color-200: 59.99 4.627% 90.49%;

  --background-color-100: 180, 2%, 10%;
  --background-color-200: 180, 3%, 13%;
  --background-color-300: 180, 2%, 18%;

  --border-color-100: 200, 2.4%, 24.5%;

  --persimmon-100: 2.48 50% 47%;
  }


