.sidebar {
    min-height: 100vh;
    min-width: 80px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F3F3EE;
    padding: 25px 15px;
    align-items: center;
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #E8E8E3;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
}

.sidebar .new-chat:hover{
    border: 0.1rem solid #21808D;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    width: 15vw;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    /* padding-right: 40px; */
    border-radius: 5px;
    color: #282828;
    cursor: pointer;
}

.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}


.sidebar .bottom {
    display: flex;
    flex-direction: column;
}


.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
}


@media (max-width:600px) {
    .sidebar{
        position: absolute;
        z-index: 10;
        display: none;
    }

    .sidebar .top{
        display: none;
    }

    .sidebar .bottom{
        display: none;
    }

    #root{
        min-height: 100vh;
    }
    
}