.divider{
display: flex;
align-items: center;
padding: 120px var(--default-margin);
gap: 200px;
background-color: #1A1A1A;
}

.divider-left{
    flex: 1;
}

.divider .divider-left .subtitle{
    background-color: #333333;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 10px;
    width: fit-content;

}

.divider .divider-left .title{
font-weight: 500;
font-size: 44px;
color: #fff;
}

.link-btn a{
    display: flex;
}

.link-btn img{
    display: flex;
    height: 20px;
}

.link-btn a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #98989A;
    display: flex;
    gap: 4px;
    border-radius: 8px;
    border: 1px solid #262626;
    padding: 14px 20px;
    width: fit-content;
    background-color: #141414;
}