.divider {
    display: flex;
    align-items: center;
    padding: var(--m120) var(--m162);
    gap: 200px;
    background-color: #1A1A1A;
}

.divider-left {
    flex: 1;
}

.divider .divider-left .subtitle {
    background-color: #333333;
    color: #fff;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 10px;
    width: fit-content;

}

.divider .divider-left .title {
    font-weight: 500;
    font-size: var(--h1);
    font-family: "Kumbh Sans", system-ui;
    color: #fff;
}

.link-btn a {
    display: flex;
}

.link-btn img {
    display: flex;
    height: var(--h6);
}

@media  (max-width: 1440px) {
    .link-btn a{
        gap: 4px;
    }
}

@media  (max-width: 930px) {
    .divider{
        flex-direction: column;
        gap: 30px;
    }

    .link-btn, .link-btn a{
        width: 100%;
    }

    .link-btn a{
        justify-content: center;
        align-items: center;
    }
}