@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root{
  /* Colors */
  --primary-color: 0, 0%, 8%;
  --secondary-color: 0, 0%, 10%;
  --accent-color: 48, 100%, 55%;
  --border-color: 0, 0%, 15%;

  --font-color-light: 0, 0%, 100%;
  --font-color-medium: 240, 1%, 60%;
  --font-color-dark: 240, 1%, 50%;

  --kbsans : "Kumbh Sans", system-ui;

  /* Margin*/
 --m162: 162px;
 --m150: 150px;
 --m120: 120px;
 --m100: 100px;
 --m80: 80px;
 --m50: 50px;
 --m40: 40px;
 --m30: 30px;
 --m20: 20px;
 --m24: 24px;
 --m16: 16px;
 --m14: 14px;
 --m10: 10px;
 --m8: 10px;

 /* Font Size*/
--h1: 58px;
--h2: 40px;
--h3: 26px;
--h4: 24px;
--h5: 22px;
--h6: 20px;
--p: 18px;
}

body{
  background-color: hsl(var(--primary-color));
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 10%);
}

.nav-btn img{
  height: var(--p);
}

a{
  text-decoration: none;
  color: white;
}

.nav-btn{
  text-decoration: none;
  font-size: var(--p);
  font-weight: 400;
  color: #98989A;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid hsl(var(--border-color));
  padding: 10px 16px;
  width: max-content;
  background-color: hsl(var(--primary-color));
}

.nav-btn img{
  transition: rotate 0.3s;
}

.nav-btn:hover img{
  rotate: 45deg;
}

@media  (max-width: 1640px) {
  :root{
    --m162: 80px;
    --m120: 80px;
    --m80: 60px;
    --m50: 40px;
    --m40: 40px;
    --m30: 30px;
    --m20: 20px;
    --m24: 24px;
    --m14: 14px;
    --m16: 10px;
    --m10: 10px;
    --m8: 10px;

    --h1: 44px;
    --h2: 30px;
    --h3: 22px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --p: 14px;
  }

  .logo{
    height: 40px;
  }

  .nav-btn a{
    gap: 4px;
}
}

  @media  (max-width: 930px) {
  :root{
      /* Colors */
  --primary-color: 0, 0%, 5%;
  --secondary-color: 0, 0%, 7%;
  --accent-color: 48, 100%, 55%;
  --border-color: 0, 0%, 15%;

    --m162: 16px;
    --m120: 40px;
    --m80: 80px;
    --m50: 50px;
    --m40: 40px;
    --m30: 30px;
    --m20: 20px;
    --m24: 24px;
    --m14: 14px;
    --m16: 10px;
    --m10: 10px;
    --m8: 10px;

    --h1: 28px;
    --h2: 24px;
    --h3: 18px;
    --h4: 18px;
    --h5: 16px;
    --h6: 14px;
    --p: 14px;
  }

  .logo{
    height: 35px;
  }
}