.header{
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;
    /* padding: 10px; */
    
}

/* Header Top Section*/

.header-logo{
    height: 40px;
    margin: 10px;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 2px solid #F7F6F1;
}

.header-top-left{
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-search {
    position: relative;
    width: 500px;
}

.header-search-icon {
    position: absolute;
    left: 15px;
    top: 10px;
    height: 18px;
}

.header-search-input{
    background: #F7F6F1;
    border-radius: 50vw;
    width: 100%;
    border: 0;
    outline: none;
    padding: 10px 50px;
}

.header-top-right{
    display: flex;
    align-items: center;
}

.header-icon{
    height: 2.5rem;
}

.header-icon + .header-icon{
    margin-left: 0.75rem;
}

.header-shop{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-profile-icon{
    height: 2.5rem;
    border-radius: 50%;
}

.header-profile {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.header-bottom,
.header-contact,
.header-bottom-right,
.header-nav,
.header-nav-component {
    display: flex;
    align-items: center;
}

.menu-icon{
    height: 0.35rem;
}

.header-bottom{
    justify-content: space-between;
    padding: 0 2rem;
}

.header-bottom-right{
    column-gap: 2rem;
}

.header-contact{
    column-gap: 0.5rem;
}

.header-nav-component {
    padding: 1.2rem 2rem;
    column-gap: 2rem;
}

.header-nav-component + .header-nav-component {
    border-left: 2px solid var(--body-color);
}