/*=============== HEADER STYLES ===============*/
.header {
    background: #fff;
    border-radius: var(--border-radius-small);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    /* padding: 10px; */
}

/* Header Top Section */
.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--mb-1) var(--mb-2);
    border-bottom: 2px solid var(--body-color);
}

.header-top-left {
    display: flex;
    align-items: center;
    gap: var(--column-gap-medium);
}

.header-search {
    position: relative;
    width: 500px;
}

.header-search-icon {
    position: absolute;
    left: 15px;
    top: 10px;
    height: 18px;
}

.header-search-input {
    background: var(--body-color);
    border-radius: var(--border-radius-round);
    width: 100%;
    border: 0;
    outline: none;
    padding: var(--padding-small) var(--padding-medium);
    font-size: var(--small-font-size);
}

.header-top-right {
    display: flex;
    align-items: center;
}

.header-icon {
    height: 2.5rem;
}

.header-icon+.header-icon {
    margin-left: 0.75rem;
}

.header-shop {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-profile-icon {
    height: 2.5rem;
    border-radius: 50%;
}

.header-profile {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.header-bottom,
.header-contact,
.header-bottom-right,
.header-nav,
.header-nav-component {
    display: flex;
    align-items: center;
}

.menu-icon {
    height: 0.35rem;
}

.header-bottom {
    justify-content: space-between;
    padding: 0 var(--mb-2);
}

.header-bottom-right {
    column-gap: var(--column-gap-medium);
}

.header-contact {
    column-gap: var(--mb-0-5);
}

.header-nav-component {
    padding: var(--mb-1-5) var(--mb-2);
    column-gap: var(--column-gap-medium);
}

.header-nav-component+.header-nav-component {
    border-left: 2px solid var(--body-color);
}