/* Product Header Styles */
.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    gap: 8rem;
    border-bottom: 1px solid rgba(160, 157, 140, 0.41);
}

.product-page-title .product-header-text:first-child::before {
    content: '';
    width: 15px;
    display: inline-block;
    border: 3px solid orange;
    margin-right: 10px;
    vertical-align: middle;
    border-radius: 3px;
}

.product-page-filter {
    display: flex;
    gap: 1rem;
}

.product-header-text {
    font-size: 14px;
    font-weight: 600;
    color: #A09D8C;
    padding-bottom: 14px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.product-active {
    color: black;
    border-bottom: 3px solid var(--green-color);
}

/* Product Grid Styles */
.product-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

/* Product Card Styles */
.product-card {
    background: var(--container-color);
    padding: 3rem 1rem 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.product-card-wrapper:hover {
    box-shadow: 0 7px 29px rgba(100, 100, 111, 0.2);
}

.product-img {
    width: 200px;
    align-self: center;
}

.product-arival,
.product-discount {
    position: absolute;
    top: 0;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 10px;
    color: white;
}

.product-arival {
    left: 0;
    background-color: #C29C1D;
    border-radius: 5px 0 15px 0;
}

.product-discount {
    right: 0;
    background-color: #F76C4F;
    border-radius: 0 5px 0 15px;
}

.og-item-price {
    color: #F76C4F;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 8px;
}

.product-interaction {
    align-self: center;
    margin-bottom: 1rem;
}