@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face{
    font-family: berkeley;
    src:url(https://pplx-next-static-public.perplexity.ai/_next/static/media/aaa31597f0f36558-s.p.woff2) format("woff2");
    font-display:swap
  }
  @font-face{
    font-family: berkeleyMono_italic;
    src:url(https://pplx-next-static-public.perplexity.ai/_next/static/media/666faf960b792da2-s.p.woff2) format("woff2");
    font-display:swap;
    font-style:italic
  }

.MainPage {
    height: 100vh;
    display: flex;
    animation: fadeIn 1.5s;
    background-color: #F3F3EE;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-4 {
    margin-left: 1rem;
}

.ml-8 {
    margin-left: 2rem;
}

.ml-12 {
    margin-left: 3rem;
}