:root {
  --pale-yellow-100: hsl(60, 100%, 99%);
  --pale-yellow-200: hsl(58, 92%, 96%);
  --pale-yellow-300: hsl(57, 86%, 93%);
  --pale-yellow-400: hsl(59, 86%, 93%);
  --pale-yellow-500: hsl(58, 81%, 91%);
  --pale-yellow-600: hsl(57, 76%, 88%);
  --pale-yellow-700: hsl(54, 99%, 50%);
  --pale-yellow-800: hsl(57, 98%, 36%);
  --pale-teal-100: hsl(186, 79%, 92%);
  --pale-cyan-100: hsl(195, 99%, 65%);
  --pale-cyan-200: hsl(196, 99%, 30%);
  --pale-cyan-300: hsl(197, 99%, 25%);
  --pale-cyan-400: hsl(196, 99%, 22%);
  --pale-blue-100: hsl(207, 97%, 37%);
  --pale-blue-200: hsl(205, 11%, 30%);
  --teal-100: hsl(188, 46%, 72%);
  --teal-200: hsl(189, 35%, 55%);
  --rose-100: hsl(349, 53%, 68%);
  --red-100: hsl(356, 43%, 54%);
  --persimmon-100: hsl(25, 41%, 53%);
  --background-color-100: var(--pale-yellow-100);
  --background-color-200: var(--pale-yellow-200);
  --background-color-300: var(--pale-yellow-300);
  --background-super-color-100: var(--pale-teal-100);
  --background-super-color-200: var(--teal-200);
  --background-super-color-300: var(--teal-100);
  --background-super-alt-color-100: var(--persimmon-100);
  --text-color-100: var(--pale-blue-200);
  --text-color-200: var(--pale-yellow-700);
  --dark-background-color-100: var(--pale-cyan-400);
  --dark-background-color-200: var(--pale-cyan-300);
  --dark-background-color-300: var(--pale-cyan-200);
  --dark-background-super-color-100: var(--pale-blue-200);
  --dark-background-super-color-200: var(--teal-100);
  --dark-background-super-color-300: var(--teal-200);
  --dark-background-super-alt-color-100: var(--red-100);
  --dark-text-color-100: var(--pale-yellow-400);
  --dark-text-color-200: var(--pale-cyan-100);
  --light-background-color-100: var(--pale-yellow-100);
  --light-text-color-100: var(--pale-blue-200);
}