/*=============== TOP MENU ===============*/
.topMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.topMenu-selector {
    display: flex;
    column-gap: var(--column-gap-small);
}

.topMenu-select {
    outline: none;
    border: none;
    border-radius: var(--border-radius-small);
    font-size: 10px;
    font-weight: var(--font-semi-bold);
    padding: var(--padding-small);
}

.topMenu-list {
    list-style: none;
    display: flex;
    column-gap: var(--column-gap-medium);
    font-size: 12px;
    font-weight: var(--font-semi-bold);
    color: var(--text-color-light);
    margin: 0;
}