.hero *{
    font-family: var(--kbsans);
}

.hero-section{
    display: flex;
}


.hero-section-left-top-wrapper{
    padding: var(--m150) var(--m50) var(--m100) var(--m162);
}

.hero-section-left-top-wrapper span{
    line-height: 120%;
    color: #666666;
    font-size: 30px;
    font-weight: 500;
}

.hero-section-left-top-wrapper h1{
    font-size: 70px;
    line-height: 120%;
    font-weight: 500;
    color: #ffffff;
    margin-top: var(--m30);
    margin-bottom: var(--m20);
}

.hero-section-left-top-wrapper p{
    font-size: var(--p);
    line-height: 150%;
    font-weight: 400;
    color: #7E7E81;
    text-wrap: pretty;
}


.hero-section-left{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-section-right{
    margin-right: 162px;
    position: relative;
}

.hero-section-right-wrapper{
    padding: 250px 0px 0px 50px;
    margin-top: var(--default-margin);
}

.hero-section-right-wrapper .text-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.hero-section-right-wrapper .text-container p:nth-of-type(1){
font-size: 20px;
line-height: 150%;
letter-spacing: -0.03em;
color: #FFFFFF;
}

.hero-section-right-wrapper .text-container p:nth-of-type(2){
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #98989A;
}

.hero-section-right-wrapper>img{
    height: 66px;
    width: 174px;
}

.hero-section-right-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-section-left-bottom{
    display: flex;
    width: 100%;
    flex: 1;
}

.hero-section-left-bottom .hero-cards span{
    color: white;
    font-weight: 600;
    font-size: 30px;
}

.hero-section-left-bottom .hero-cards span>span{
    color: hsl(var(--accent-color));
}

.hero-section-left-bottom .hero-cards p{
font-weight: 400;
font-size: 14px;
color: #98989A;
margin-top: 2px;
width: 199px;

}

.hero-section-left-bottom .hero-cards:nth-of-type(1){
    padding: var(--m50) var(--m50) var(--m50) var(--m162);
}

.hero-section-left-bottom .hero-cards:nth-of-type(2),
.hero-section-left-bottom .hero-cards:nth-of-type(3){
    padding: var(--m50);
}

.hero-section,
.hero-section-left-top{
    border-bottom: 1px solid #262626;
}

.hero-section-right,
.hero-section-left-bottom .hero-cards + .hero-cards{
    border-left: 1px solid #262626;
}

.hero-section-right .hero-img{
position: absolute;
left: 0px;
top: 0px;
width: 100%;
height: fit-content;
z-index: -1;
opacity: 50%;
}

.hero-card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 var(--default-margin);
    font-family: K;
}

.hero-cards:nth-of-type(1){
    padding: var(--m50) var(--m80) var(--m50) var(--m162);
}

.hero-cards:nth-of-type(2){
    padding:var(--m50) var(--m80);
}

.hero-cards:nth-of-type(3){
    padding:var(--m50) var(--m162) var(--m50) var(--m80);
}

.hero-cards .title{
    color: hsl(var(--font-color-light));
    font-size: 18px;
}

.hero-cards .subtitle{
    color: hsl(var(--font-color-dark));
    font-size: 16px;
}

.hero-cards p{
    color: hsl(var(--font-color-medium));
    font-size: 16px;
}

.hero-cards .text-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.hero-cards .text-wrapper{
    display: grid;
}

.hero-cards .text-container img{
    height: 44px;
}

.hero-card-container{
    border-bottom: 1px solid hsl(var(--border-color));
  }
  
  .hero-cards + .hero-cards {
    border-left: 1px solid hsl(var(--border-color));
  }

  @media  (max-width: 1440px) {
    .hero-section-left-top-wrapper span{
        font-size: 22px;
    }
    .hero-section-left-top-wrapper h1{
        font-size: 55px;
    }
  }

  @media  (max-width: 930px){
    .hero-section-left-top-wrapper span{
        font-size: 18px;
    }
    .hero-section-left-top-wrapper h1{
        font-size: 30px;
    }
    .hero-section{
        flex-direction: column;
    }
     .hero-card-container{
        grid-template-columns: 1fr;
    }
    .hero-card-container .hero-cards{
        padding: 30px 16px;
        
        background-color: hsl(var(--primary-color));
    }
    .hero-section-left-top-wrapper{
        padding: 40px 16px 30px 16px;
    }

    .hero-section-left-bottom .hero-cards:nth-of-type(1),
    .hero-section-left-bottom .hero-cards:nth-of-type(2),
    .hero-section-left-bottom .hero-cards:nth-of-type(3){
        padding: 20px;
    }
    .hero-section-left-bottom .hero-cards p {
        width: fit-content;
    }
    .hero-section-right{
        width: 100%;
    }
    .hero-section-right-wrapper {
        padding: 100px 40px 40px 40px;
        margin: 0;
        width: 100%;
    }

    .hero-card-container .hero-cards + .hero-cards{
        border-top: 1px solid hsl(var(--border-color));
    }
  }