.features .divider .link-btn{
    background-color: red;
    display: none;
}

.features{
    border-bottom: 1px solid hsl(var(--border-color));
}

.feature-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0 var(--m162);
}

.feature-container .right{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    margin: var(--m80);
    margin-right: 0px;
}

.feature-container .left{
    display: flex;
    flex-direction: column;
    padding-right: var(--m80);
    border-right: 1px solid hsl(var(--border-color));
    height: 100%;
    justify-content: center;
}

.feature-container:nth-of-type(1){
    border-top: 1px solid hsl(var(--border-color));
    border-bottom: 1px solid hsl(var(--border-color));
}

.feature-container .left img{
    width: 80px;
    margin-bottom: var(--m50);
}

.feature-container .left .title{
    font-weight: 500;
    font-size: var(--h2);
    color: hsl(var(--font-color-light));
}
.feature-container .left .subtitle{
    font-weight: 400;
    font-size: var(--p);
    color: hsl(var(--font-color-medium));
}

.feature-container .right .cards{
    padding: var(--m40);
    background-color: hsl(var(--secondary-color));
    display: flex;
    flex-direction: column;
    gap: var(--m20);
    border: 1px solid hsl(var(--border-color));
    border-radius: 12px;
}

.feature-container .right .title{
    color: hsl(var(--font-color-light));
}

.feature-container .right .info{
    color: hsl(var(--font-color-medium));
    font-weight: 400;
}

@media  (max-width: 1440px) {

    .feature-container .left img{
        width: 60px;
    }

}

@media  (max-width: 930px) {
    .features .divider{
        align-items: flex-start;
    }
    .feature-container, .feature-container .right{
        grid-template-columns: 1fr;
    }

    .feature-container .right{
        margin: 30px 16px;
        gap: 20px;
    }

    .feature-container .left img{
        width: 40px;
        margin-bottom: 20px;
    }

    .feature-container .left{
        padding: 50px 0;
        border: none;
        border-bottom: 1px solid hsl(var(--border-color));
    }
}