header {
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.top-banner {
    background-color: hsl(var(--primary-color));
    color: #98989a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--m20) var(--m24);
    gap: 10px;
}

.navbar {
    background-color: hsl(var(--secondary-color));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--m24) var(--m162);
    border-top: 1px solid hsl(var(--border-color));
    border-bottom: 1px solid hsl(var(--border-color));
    position: relative;
}

.navbar img {
    height: var(--m50);
    max-width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: var(--m40);
}

.nav-links a {
    text-decoration: none;
    color: #98989a;
    transition: color 0.3s ease;
}

.nav-active {
    background-color: hsl(var(--primary-color));
    padding: var(--m14) var(--m24);
    border-radius: 6px;
    color: #fff;
    border: 1px solid hsl(var(--border-color));
}

.nav-cta a {
    padding: var(--m14) var(--m20);
    color: hsl(var(--primary-color));
    background-color: hsl(var(--accent-color));
    border-radius: 6px;
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 930px) {
    .navbar {
        padding: var(--m14) var(--m24);
        position: relative;
    }

    .mobile-nav-container {
        display: none;
    }

    .mobile-nav-container.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsl(var(--secondary-color));
        z-index: 1000;
        padding: var(--m24);
        overflow-y: auto;
    }

    .mobile-nav-container.active .nav-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 20px;
    }

    .nav-links li {
        width: 100%;
        text-align: center;
    }

    .nav-links li a {
        display: block;
        padding: 15px;
        font-size: 1.2rem;
    }

    .hamburger {
        display: block;
        z-index: 1100;
        position: relative;
    }

    .nav-cta {
        display: none;
    }

    .mobile-contact-link {
        display: block;
    }

    .menu_icons{
        width: 34px;
    }
}