*{
    line-height: 150%;
}

header{
    font-size: var(--p);
}

.top-banner{
    background-color: hsl(var(--primary-color));
    font-weight: 400;
    color: #98989a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--m20) var(--m24);
    gap: 10px;
}

.navbar{
    background-color: hsl(var(--secondary-color));
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--m24) var(--m162);
    border-top: 1px solid hsl(var(--border-color));
    border-bottom: 1px solid hsl(var(--border-color));
}

.navbar img{
    height: var(--m50);
}

.navbar .nav-btns ul{
    list-style: none;
    display: flex;
    align-items: center;
    color: #98989a;
    gap: var(--m40);
}

.navbar .nav-btns ul li,
.navbar .nav-cta a {
    cursor: pointer;
}

.nav-active{
    background-color: hsl(var(--primary-color));
    padding: var(--m14) var(--m24);
    border-radius: 6px;
    color: #fff;
    border: 1px solid hsl(var(--border-color));
}

.navbar .nav-cta a{
    padding: var(--m14) var(--m20);
    color: hsl(var(--primary-color));
    background-color: hsl(var(--accent-color));
    border-radius: 6px;
    font-weight: 500;
}

@media  (max-width: 930px) {

    .top-banner span{
        flex: 1;
    }

    .navbar .nav-btns,
    .navbar .nav-cta{
        display: none;
    }

}